@page "/categories"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using ASM.Share.Models
@implements IAsyncDisposable
@inject IDbContextFactory<ASM.Share.Models.ApplicationDbContext> DbFactory
@attribute [Authorize]

<PageTitle>Danh mục</PageTitle>

<p>
    <a href="categories/create">Thêm mới</a>
</p>

<QuickGrid Class="table" Items="context.Categories">
    <PropertyColumn Property="category => category.CategoryName" />
    <TemplateColumn Context="category">
        <!-- Display the image -->
        <img src="@($"https://localhost:7058/images/Categories/{category.Image}")"
             alt="@category.CategoryName" 
             width="50" height="50" />
    </TemplateColumn>

    <TemplateColumn Context="category">
        <a href="@($"categories/edit?categoryid={category.CategoryId}")">Sửa</a> |
        <a href="@($"categories/details?categoryid={category.CategoryId}")">Chi tiết</a> |
        <a href="@($"categories/delete?categoryid={category.CategoryId}")">Xóa</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
